<%- include('header') %>
<header class="h-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Hostelry</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="fas fa-users"></i></a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Log In</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/user-login">As Student</a></li><hr>
                                <li><a class="dropdown-item" href="/admin-login">As Admin</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice">Notice Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.google.com/document/d/1BHeriO99KSZ0azay7DNu1MtNDDl4DqcJ-vLkvHwDZRU/edit?usp=sharing">Mess Menu</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>