<%- include('partials/navbar') %>

<script>
    document.title = "About the Developers! | HOSTELRY";
</script>

<section id="about-us" class="about-us">
    <div class="container">
        <h1 class="display-3" style="text-align: center;">About the Developers!</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <img src="img/sakchham.jpeg" class="dev-img" alt="Sakchham" style="height: 410px; width: 420px;">
                    <h3>Sakchham Kumar Sharma</h3>
                    <h4>Back End Developer</h4>
                    <p>As a backend developer, Sakchham has worked in creating a server for the "HOSTELRY" web application, Created routes (GET, POST, UPDATE, DELETE) and provided their functionality, rendered HTML pages on routes, deployed the web application on an online service provided by Heroku, implemented "Forgot Password" page and its functionality with the help of "Google Gmail API".</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <img src="img/ankit.jpeg" class="dev-img" alt="Ankit image">
                    <h3>Ankit Pathak</h3>
                    <h4>Front End Developer</h4>
                    <p>As a front end developer, Ankit has attached the "HOSTELRY" web application with NoSQL "MongoDB" database, Implemented CRUD (Create, Read, Update and Delete) operations for the notes posted by the user in the "HOSTELRY" web application, Saving the User in the database and helped in implementing the functionality of "Forgot password" page to Back End Developer Sakchham Kumar Sharma.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footbar') %>