<%- include('partials/navbar') %>

<section id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="display-1">An Amazing App That Maintaines The Hostel.</h1>
                <p class="home-para">Hostelry is an amazing web application which can be used for multiple purposes for managing a Hostel like issuing any notice including Bills and Students can also use this web applicaation to pay their mess bill online.</p>
                <div class="d-grid gap-2">
                    <a href="/register" class="btn btn-outline-warning btn-lg">New Here? Create An Account Now!</a><br>
                    <a href="/login" class="btn btn-outline-success btn-lg">Already Have An Account? Login Now!</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="img/paylogo.png" alt="HOSTELRY_Image" style="margin-top: 10rem; border-radius: 50%;">
            </div>
        </div>
    </div>
    <br>
</section>

<section id="about" class="s-about target-section">
    <div class="container">
        <div class="row section-header narrower align-center">
            <div class="col-12">
                <h1 class="display-1">The First and Very User Friendly Hostel Management Web Application.</h1>
                <p class="lead" style="line-height: 1.5;"><span class="brand-border">HOSTELRY</span> is a very powerful, user-friendly and secure web application for Hostel Management purposes and the main highlight of this application is its ads-free interface. Since, this app is not managed by a profit-seeking organization. Hence, your data is not going to used for the sake of profit of the organization and it's completely safe with us. So, Join now and enjoy!</p>
            </div>
        </div>
        <h1 class="display-3" style="text-align: center;">The Important features of <span class="brand-border">Hostelry</span>!</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Smart.</h3>
                    <p>This <span class="brand-border">HOSTELRY</span> application is smart in managing the purposes of Hostel. Here, One can see their mess bill, issued notices and the manager is able to issue the notice and collect the mess bill in online way.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>User-Friendly.</h3>
                    <p><span class="brand-border">HOSTELRY</span> is very user-friendly yet very powerful. The interface of this HOSTELRY web application is very user-friendly and can be understood easily when a user is using it for first time. </p>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Powerful.</h3>
                    <p><span class="brand-border">HOSTELRY</span> is a very powerful tool for managing the Hostel purposes. It also provides a feature where you can pay your bills or may be fine (applied by Hostel Warden) by using UPI, Debit Card etc.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Secure.</h3>
                    <p><span class="brand-border">HOSTELRY</span> provides a very secure portal where you can manage your mess bills and multiple purposes of Hostel. Here, you can see the mess bill, pay them and      them from anywhere across the globe.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="working" class="work target-section">
    <div class="container">
        <div class="row align-center">
            <div class="col-12">
                <h1 class="display-2">How the app works?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>1</span>Sign Up</h3>
                    <p>To use this app, firstly sign up with this application. You'll need email and a strong password for that purpose. After signing up, you can start enjoying this web application's features after login.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>2</span>Log In</h3>
                    <p>Once you complete your signing up process, you'll need to login with those credentials which you have used while signing up. After login, you can start using this web application for managing your needs.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>3</span>Compose</h3>
                    <p>Once you have completed the login process, you can see the mess bill, pay those mess bill or, pay the fine if any fine is applied on you by Hostel Warden. Hostel Warden can also use this web application for issuing a notice including mess bill.</p>
                
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>4</span>Save</h3>
                    <p>After paying the mess bill or, seeing the notices issued by the notice warden, you can act according to them. Once Mess bill is paid, your work is done. Hostel Warden can also issue the notice on the web application and after doing this, the work is done. Enjoy!</p>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include('partials/footer') %>