<%- include('partials/header') %>

<script>
    document.title = "Welcome Back | HOSTELRY";
</script>
<section id="login" class="login">
    <div class="login-main container">
        <div class="minimal-frame">
            <img src="img/paylogo.png" class="img-logo" alt="HOSTELRY_LOGO">
            <h1 class="login-heading"><a href="/">HOSTELRY</a></h1>
            <p class="login-para">Manages everything securely.</p>
            <h3 class="login-para">Welcome Back, Admin!</h3>
            <h2 class="page-intro">Log In Here!</h2>
            <p class="error-text"><%= messages%> </p>
            <form method="POST" action="/admin-login">
                <div class="mb-3">
                    <input type="email" class="form-control" name="username" placeholder="Email Address" autocomplete="off" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Continue</button>
                </div>
            </form>
            <div class="login-footer">
                <p class="policy-footer">To register a new admin or, to forgot the password of an existing admin, please contact the Database Administrator.</p>
                <p class="policy-footer">By clicking on continue, you are agreeing to our <a href="/terms_of_use">Terms of Service</a> and <a href="/privacy_policy">Privacy Policy.</a></p>
                <p class="policy-footer">Copyright © <script>document.write(new Date().getFullYear())</script> HOSTELRY | All rights reserved.</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 