<%- include('partials/navbar') %>

<script>
    document.title = "Welcome to Notice Board! | HOSTELRY";
</script>

<section id="notice" class="notice-board">
    <div class="container">
        <h1 class="display-3 notice-heading">Notice Board</h1>
    </div>
</section>

<%- include('partials/footer') %>